<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pasteShortcut</key>
    <string>Control+Option+Command+V</string>
    <key>isEnabled</key>
    <true/>
    <key>rules</key>
    <array>
        <dict>
            <key>id</key>
            <string>1</string>
            <key>name</key>
            <string>Email Addresses</string>
            <key>pattern</key>
            <string>\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b</string>
            <key>replacement</key>
            <string>[EMAIL]</string>
            <key>isRegex</key>
            <true/>
            <key>isEnabled</key>
            <true/>
        </dict>
    </array>
</dict>
</plist>
